/* Colors CSS */

:root {
    /* Light mode (default) */
    --primary-color: #003cff;
    --secondary-color: #0A0EE3;
    --light-color: #FFFFFF;
    --dark-color: #333333;
    --bg-color: #FFFFFF;
    --gray-color: #F5F5F5;
}