/* contact */

.contact-section {
    min-height: 100vh; /* Remplacer height par min-height */
    padding: var(--spacing-xl) 0;
    padding-top: calc(80px + var(--spacing-xl)); /* Ajout d'un padding-top pour la navbar */
    background-color: var(--primary-color);
    color: var(--light-color);
}

.contact-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 var(--spacing-md);
}

.contact-content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
}

.contact-content h3 {
    font-size: var(--font-size-medium);
    font-weight: 500;
}

.contact-text {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
}

.contact-text h2 {
    font-size: var(--font-size-large);
    line-height: 1.3;
    max-width: 800px;
}



.contact-text p {
    font-size: var(--font-size-medium);
    max-width: 800px;
}
